.modal-body h5 span {
  opacity: 0.8;
  margin-left: 0.3rem;
}

.vertical-center {
  /* min-height: 100%; Fallback for browsers do NOT support vh unit */
  height: auto;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo {
  padding: 1rem;
}
.loginContainer {
  font-size: large;
  width: 40rem;
  outline: none;
  padding: 2rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
}
.leaveReqDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* gap: 0rem 30rem; */
  justify-content: space-around;
}

.myRequests {
  text-align: center;
  border: 0.1rem black solid;
  height: fit-content;
  width: 56rem;
  padding: 1rem;
  margin: 2.5rem 2rem 2rem 2rem;
}

.recievedRequests {
  text-align: center;
  width: 56rem;
  padding: 1rem;
  margin: 2.5rem 2rem 2rem 1rem;
  border: 0.1rem black solid;
  height: fit-content;
}
.modal-body {
  text-align: left;
}

.leaveForm {
  padding: 1rem;
  border-radius: 0.2rem;
  border: 0.1rem black solid;
  margin-top: 5rem;
}

.leaveForm h1 {
  text-align: center;
}

.pwdBox {
  width: 100%;
}
.contents {
  border: 1px solid black;
  padding: 1rem;
}
.dropdown {
  margin-bottom: 1rem;
}
.dropdown label {
  font-size: large;
}
.dropdown-toggle {
  width: fit-content;
  margin-left: 1rem;
  background-color: rgba(231, 229, 229, 0.938);
}

