.modal-body h5 span {
  opacity: 0.8;
  margin-left: 0.3rem;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.leaveReqDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.myRequests {
  text-align: center;
  border: 0.1rem black solid;
  height: fit-content;
  width:57rem;
  padding: 1rem;
  margin: 2rem 1rem 1rem 1rem;
}

.recievedRequests {
  text-align: center;
  width:57rem;
  padding: 1rem;
  margin: 2rem 1rem 1rem 1rem;
  border: 0.1rem black solid;
  height: fit-content;
}
.modal-body {
  text-align: left;
}

.leaveForm {
  padding: 1rem;
  border-radius: 0.2rem;
  border: 0.1rem black solid;
  margin-top: 5rem;
}

.leaveForm h1 {
  text-align: center;
}

.pwdBox {
  width: 100%;
}
